__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
build/
*.spec
*.log
data/
coverage.xml
htmlcov/

# Executables, distributions & archives
*.zip
*.exe
dist/
release/

# Exclude legacy RAM application folder
Roblox.Account.Manager.3.7.2/

# Sub-repository for documentation portal
astro_docs/
